.myBtn {
    height: 30px;
    padding: 5px 15px;
    font-size: 14px;
    border: 2px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    color: #eaeaea;
    background-color: rgb(112, 112, 112);
    box-shadow: 0 -1px 1px rgb(185, 185, 185);
}